<div class="row">
    <div class="col-6 offset-3">

        <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
        
            <div class="mb-3">
                <label for="firstname">Firstname</label>
                <input class="form-control" id="firstname" type="text" formControlName="firstname">
            </div>
        
            <div class="mb-3">
                <label for="lastname">Lastname</label>
                <input class="form-control" id="lastname" type="text" formControlName="lastname">
            </div>
        
            <div class="mb-3">
                <label for="email">Email</label>
                <input class="form-control" id="email" type="email" formControlName="email">
            </div>
        
            <div class="mb-3">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" formControlName="password">
            </div>
        
        
            <button type="submit" [disabled]="!userForm.valid">Register my new account</button>
        </form>

    </div>
</div>