<div class="row">
    <div class="col-6 offset-3">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">

            <div class="mb-3">
                <label for="email">Email</label>
                <!-- <input class="form-control" id="email" type="email" formControlName="email" (change)="alertEmail(loginForm)"> -->
                <input class="form-control" id="email" type="email" formControlName="email">
            </div>
        
            <div class="mb-3">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" formControlName="password">
            </div>
        
            <button type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>

    </div>
</div>